 *{
	 margin: 70;
	 padding: 100;
}
body{
	width: 100%;
	height: 100vh;
	background-color: darkslategrey;
	
	font-family: Palatino Linotype;
	font-size: 18px;
}
div.headings{
	text-align: center;
}
 .header{
	color: lightblue;
}
 .name{
	color: aliceblue;
}
 .mypic{
	 width: 200px;
	 height: 200px;
	 object-fit: cover;
	 border-radius: 50%;
 }
 .npm{
	color: aliceblue;
}
 .angkatan{
	 color: aliceblue;
}
 .desc{
	 color: ivory;
 }
